<h1>Employees list </h1>
<%= link_to 'Add New Employee', {:action => 'new'}, { :class => 'new' } %>
<%= link_to 'Get Employee Customer', {:action => 'get_customer'}, { :class => 'new' } %><br><br>
<table class="dati">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Employee initial</th>
      <th colspan=3>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for  employee in @employees %>
      <tr>
        <td><%= link_to "#{employee.name}", :action => "show", :id => employee.id %></td>
	<td><%= employee.initial%></td>
          <td><%= link_to "Edit", {:action => "show", :id => employee.id} %></td>
          <td><%= link_to "Delete", {:action => "destroy", :id => employee.id},  :confirm => "Do you want to delete this employee?" %></td>
          <td><%= link_to "Customers List", {:action => "customer_list", :id => employee.id} %></td>
        </tr>
        <% end if @employees%>
      </tbody>
    </table>
    <%= will_paginate @employees  if @employees %>

