<table class="dati">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Month</td>
      <td><%= c.select :month , MONTH.collect{ |p| [ p[1] ,p[0] ]} %><%= @bill_history.errors[:month]%></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><%= c.select :year , YEAR.collect{ |p| [ p ,p ]} %><%= @bill_history.errors[:year]%></td>
    </tr>
    <tr>
      <td>Employee Name</td>
      <td><%= c.select :employee_id , Employee.all.collect{ |e| [ "#{e.initial}, #{e.name}", e.id]} %></td>
    </tr>

  </tbody>
</table>
