<h1>Bill History </h1>
<%= link_to 'Generate customers bill ', {:action => 'new'}, { :class => 'new' } %>
<table class="dati">
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Employee</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for bill_history in @bill_histories %>
      <tr>
        <td><%= get_month(bill_history.month) %></td>
        <td><%= bill_history.year %></td>
        <td><%= bill_history.employee.name if bill_history.employee %></td>
        <td><%= link_to "Delete", {:action => "destroy", :id => bill_history.id}, :method => :delete, :confirm => "Do you want to delete Bill History? This action also delete customes bill history " %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @bill_histories %>

